{   "env": {
      "node": true,
      "es6": true
    },
    "extends": [
      "airbnb/base",
      "plugin:import/errors"
    ],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
       "jsx": true,
       "experimentalObjectRestSpread": true
      }
     }
}